{% extends 'base.html.twig' %}

{% block title %}Nouvelle réponse{% endblock %}

{% block body %}
    <h1>Réponse au sujet {{topic.title}}</h1>

    {{ include('message/_form.html.twig') }}

    <a class="btn btn-light mt-3" href="{{path('home_topic',{name : topic.subcategory.title, id:topic.id})}}">Retour au sujet</a>
{% endblock %}
