<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>phpForum
			{% block title %}
			{% endblock %}
		</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include '_navbar.html.twig' %}
        <main class="shadow container mt-3 border bg-info">
		{% block body %}{% endblock %}
        </main>
        {% include '_footer.html.twig' %}
	</body>
</html>
